
@import url(https://fonts.googleapis.com/css?family=Sonsie+One&effect=fire|fire-animation);

on-fire {
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  color:#ff0000;
}

on-fire .font-effect-fire-animation{
    color:#ff0000;
}

on-fire .font-effect-fire{
  color:#ff0000;
}


